

.site-list__item {
  color: @black;
  font-size: @body-font-size;
  font-family: @font-family-base;
  line-height: 26px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: @basic-color;
  }

  &:visited {
    color: rgba(0, 0, 0, 0.3);
  }

  &--active {
    color: @brown;
  }

  &--active:hover {
    color: rgba(96, 78, 67, 1);
  }

  &--active:visited {
    color: rgba(118, 99, 87, 0.3);
  }
}
